@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ececec;
    --foreground: #292929;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-font {
  font-family: "Meow Script", serif;
  font-weight: 550;
  font-style: normal;
}
